body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #22c14d;
  color: #333;
}

/* Container Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 10px;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(143, 143, 143);
  height: 350px;
}

/* Konten utama */
.main {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h4 {
  margin-bottom: 50px;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Sesuaikan lebar form dengan container */
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: #22c14d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #1a9a3b;
}
